/*
Team Info:

Jerry - Content Designer
Zac I. - Programmer, Web Developer
Aspen - Web Designer
Abe - Project Manager
*/

/* styles for jobs page/scrolly thingy */
@import url('https://fonts.googleapis.com/css?family=Play&display=swap');

html{
    background-color: #3A2E39;
}

h1, h3, div#info_pane p{
    text-align: center;
    color: white;
}

nav {
    padding-left: 0px;
    padding-right: auto;
    position: fixed;
    float: left;
    padding-top: auto;
    padding-bottom: auto;
    margin: auto auto auto 0px;
    background-color: rgba(224, 224, 224, 0.301);
    border-radius: 30px;
}
ul {
    padding-left: 0px;
    padding-right: auto;
}
li {
    display: inline;
}
nav ul li a {
    display: block;
    font-family: 'Play', sans-serif;
    color: white;
    text-decoration: none;
    list-style-type: none;
    font-size: 20px;
    width: fit-content;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
}

nav ul li a:hover {
    color: #1E555C;
    transition: .3s color;
}

h1{
    transition: 2s;
    font-size: 50px;
    margin-bottom: 0px;
}

body{
    margin: 0px;
}

div#job1_apply_pane, div#job3_apply_pane{
    box-sizing: border-box;
    background-color: #1E555C;
    color: #F4D8CD;
    width: 50%;
    text-align: justify;
    height: 300px;
    padding: 10px;
    margin-left: 485px;
    margin-top: 10px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

div#job1_apply_pane h2, div#job3_apply_pane h2{
    text-align: left;
}

div#job2_apply_pane, div#job4_apply_pane{
    box-sizing: border-box;
    background-color: #BCAC9B;
    color: black;
    width: 50%;
    height: 300px;
    text-align: justify;
    padding: 10px;
    margin-left: 235px;
    margin-top: 10px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

h2{
    margin: 0px;
    text-align: right;
    color: white;
}

h1, h2, h3, p{
    font-family: 'Play', sans-serif;
}

form{
    font-family: 'Play', sans-serif;
    padding-top: 10px;
    text-align: center;
}

