html{
    background-color: #151816;
}
h1{
    color:#C4B7CB;
    text-align: center;
    text-shadow: black 2px 2px 2px;
}
img.rob{
    width: 250px;
    height: 250px;

}

img.rob{
    margin-left: 70px;
    margin-right: 60px;
    margin-bottom: 40px;
    border: solid gray;
    box-shadow: white 2px 2px 1px ;

}

img#robot1{
    margin-left: 200px;
}

nav ul li a{
    display: inline;
    font-family: 'Oswald', sans-serif;
    color: white;
    text-decoration: none;
    list-style-type: none;
    font-size: 40px;
    animation-name: zoom;
    animation-duration: 4s;
    
}

li{
    display: inline;
}

li a {
    display: block;
    padding: 8px;
    font-family: 'Oswald', sans-serif;
    color:  white;
    text-decoration: none;
    margin: 20px;

}

nav a:hover{
    color: #f4632f;
    transition: .3s color;
}

ul{
    text-align: center;
}
nav{
    text-align: center;

}

.oof{
    padding-left: 200px;
}

.ss{
    color: white;
    text-decoration: none;
    margin-left: 270px;
    font-size: 2em;
}

a#fac{
padding-left:5px;
}
a#twit{
    padding-left: 20px;
}