/*
Team Info:

Jerry - Content Designer
Zac I. - Programmer, Web Developer
Aspen - Web Designer
Abe - Project Manager
*/

/*
Team Info:

Jerry - Content Designer
Zac I. - Programmer, Web Developer
Aspen - Web Designer
Abe - Project Manager
*/

/* INDEX/BASIC STYLES FOR ALL PAGES */

/* font used for the index page */
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');



html{
    background-color: #303633;
}

h1{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 100px;
}

h5{
    text-align: center;
}


303633