/*
Team Info:

Jerry - Content Designer
Zac I. - Programmer, Web Developer
Aspen - Web Designer
Abe - Project Manager
*/

/* company page. similar to index */

@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@keyframes zoom {
    0% {
        opacity: 0;
        font-size: 0px;
    }
    33% {
        opacity: 0;
        font-size: 0px;
    }
    100% {
        opacity: 1;
        font-size: 40px;
    }
}

html {
    background-color: #E88D7D;
    scroll-behavior: smooth;
}

h1 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 370px;
    text-shadow: 10px 5px #C0C781;
    margin: 0px;
    padding: 0px;
    transition: 3s;
}

nav ul li a {
    display: block;
    font-family: 'Oswald', sans-serif;
    color: white;
    text-decoration: none;
    list-style-type: none;
    font-size: 20px;
    width: fit-content;
}

nav {
    padding-left: 0px;
    padding-right: auto;
    position: fixed;
    float: left;
    padding-top: auto;
    padding-bottom: auto;
    margin: auto auto auto 0px;
    background-color: rgba(224, 224, 224, 0.301);
    border-radius: 30px;
}

li {
    display: inline;
}

li a {
    display: block;
    padding: 8px;
    font-family: 'Oswald', sans-serif;
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: #C0C781;
    transition: .3s color;
}

ul {
    padding-left: 0px;
    padding-right: auto;
}

#starting_pane, #about_pane {
    height: 110vh;
}

h2, h2 a {
    font-size: 40px;
    text-align: center;
    color: white;
    animation-name: zoom;
    animation-duration: 2s;
    margin: 0px 0px;
    text-decoration: none;
}

p {
    position: relative;
    font-size: 30px;
    padding-top: auto;
    padding-right: 0px;
    padding-bottom: auto;
    padding-left: 150px;
    margin: 0px;
    margin-right: 40px;
    text-align: justify;
    vertical-align: middle;
    top: 25%;
}