/*
Team Info:

Jerry - Content Designer
Zac I. - Programmer, Web Developer
Aspen - Web Designer
Abe - Project Manager
*/

/* company page. similar to index */

/* @import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@keyframes zoom {
    0% {
        opacity: 0;
        font-size: 0px;
    }
    33% {
        opacity: 0;
        font-size: 0px;
    }
    100% {
        opacity: 1;
        font-size: 40px;
    }
} */

html {
    background-color: #E88D7D;
    /* scroll-behavior: smooth; */
}

h1 {
    /* text-align: center;
    font-family: 'Oswald', sans-serif; */
    color: white;
    /* font-size: 370px; */
    text-shadow: 10px 5px #C0C781;
    /* margin: 0px;
    padding: 0px;
    transition: 3s; */
}

/* Begin Nav selection */

nav {
    /* padding-left: 0px;
    padding-right: auto;
    position: fixed;
    float: left;
    padding-top: auto;
    padding-bottom: auto;
    margin: auto auto auto 0px; */
    background-color: rgba(224, 224, 224, 0.301);
    /* border-radius: 30px; */
}

/* ul {
    padding-left: 0px;
    padding-right: auto;
} */

/* li {
    display: inline;
} */

nav ul li a {
    /* display: block;
    font-family: 'Oswald', sans-serif; */
    color: white;
    /* text-decoration: none;
    list-style-type: none;
    font-size: 20px;
    width: fit-content;
    padding: 8px;
    margin-left: auto;
    margin-right: auto; */
}

nav ul li a:hover {
    color: #C0C781;
    transition: .3s color;
}

/* End Nav Section */

/* #starting_pane, #about_pane {
    height: 110vh;
} */

#learn_more, #learn_more a {
    /* font-size: 60px;
    font-family: 'Oswald';
    text-align: center; */
    color: white;
    /* animation-name: zoom;
    animation-duration: 2s;
    margin: 0px 0px;
    text-decoration: underline; */
}
#to_top{
    /* font-size: 60px;
    font-family: 'Oswald';
    text-align: center; */
    color: white;
    /* margin: 0px 0px;
    text-decoration: underline;
    position: relative;
    top: 25%; */
}

#to_top a{
    color: white;
}

/* p {
    position: relative;
    font-size: 30px;
    padding-top: auto;
    padding-right: 0px;
    padding-bottom: auto;
    margin: 0px;
    margin-right: 40px;
    margin-left: 150px;
    text-align: justify;
    top: 25%;
} */