/*
Team Info:

Jerry - Content Designer
Zac I. - Programmer, Web Developer
Aspen - Web Designer
Abe - Project Manager
*/

/* general styles section */
#efi{
    margin: 0%;
}
html {
    background: linear-gradient(lightpink, rgb(211, 35, 211));
}

h1 {
    color: yellow;
    text-shadow: 2px 2px black;
}

img.rob {
    border: yellow solid 3px;
    box-shadow: white 2px 2px 10px;
}

.ss {
    color: white;
}

/* nav section */

nav {
    background-color: rgba(224, 224, 224, 0.301);
}

nav ul li a {
    color: white;
}

nav ul li a:hover {
    color: #C0C781;
    transition: .3s color;
}