/*
Team Info:

Jerry - Content Designer
Zac I. - Programmer, Web Developer
Aspen - Web Designer
Abe - Project Manager
*/

/* general styles section */

#efi{
    margin: 0%;
}
html {
    background-color: rgb(87, 87, 87);
}

h1 {
    color: white;
    text-shadow: 2px 2px rgb(0, 0, 0);
}

img.rob {
    border: black solid 3px;
    box-shadow: white 2px 2px 15px;
}

.ss {
    color: white;
}

/* nav section */

nav {
    background-color: rgba(224, 224, 224, 0.301);
}

nav ul li a {
    color: white;
}

nav ul li a:hover {
    color: #C0C781;
    transition: .3s color;
}