/*
Team Info:

Jerry - Content Designer
Zac I. - Programmer, Web Developer
Aspen - Web Designer
Abe - Project Manager
*/

/* begin general Styles section */

html {
    background-color: #758173;
}

h1 {
    color: black;
    text-shadow: 10px 5px #A9C5A0;
}

#learn_more, #learn_more a {
    color: #2E4052;
}

#learn_more a:hover {
    color: #FFC857;
    transition: .5s;
}

#to_top {
    color: #2E4052;
}

#to_top a {
    color: #2E4052;
}

#to_top a:hover {
    color: #FFC857;
    transition: .5s;
}

p {
    color: white;
}

/* begin nav section */

nav {
    background-color: rgba(224, 224, 224, 0.301);
}

nav ul li a {
    color: white;
}

nav ul li a:hover {
    color: #FFC857;
    transition: .3s color;
}