/*
Team Info:

Jerry - Content Designer
Zac I. - Programmer, Web Developer
Aspen - Web Designer
Abe - Project Manager
*/

/* Begin Imports and Declarations section */

@keyframes styleSelectionBoxDelay {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    85% {
        opacity: 1;
    }
}

/* Begin General Layouts Section */

html {
    font-family: montserrat;
}

h1 {
    text-align: center;
    font-size: 3em;
}

.ss {
    text-decoration: none;
    font-size: 2em;
    margin-left: 100px;
    margin-right: 100px;
}
#sm{
    text-decoration: none;
}
p {
    text-align: center;
    font-size: 2em;

}

img {
    position: relative;
    top: 150px;
}

/* Begin Nav Layouts */

nav {
    padding-left: 0px;
    padding-right: auto;
    position: fixed;
    float: left;
    padding-top: auto;
    padding-bottom: auto;
    margin: auto auto auto 0px;
    border-radius: 30px;
}

ul {
    padding-left: 0px;
    padding-right: auto;
}

li {
    display: inline;
}

nav ul li a {
    display: block;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    list-style-type: none;
    font-size: 20px;
    width: fit-content;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
}

/* Begin styleSelection Layouts */

div#styleSelection {
    margin-left: auto;
    margin-right: 5px;
    animation-name: styleSelectionBoxDelay;
    animation-duration: 3s;
    height: max-content;
    width: max-content;
}

button.colorButton {
    height: 25px;
    width: 25px;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(41, 41, 41);
}

/* Base Colors */

button#color1 {
    background-color: #E88D7D;
}

button#color2 {
    background-color: black;
}

button#color3 {
    background: linear-gradient(red, white, blue);
}

button#color4 {

background-color:orange;
}

/* Hover Colors */

button#color1:hover, button#color1:active {
    background-color: rgb(182, 114, 103);
    transition: 0.3s;
}

button#color2:hover, button#color2:active {
    background-color:rgb(116, 116, 116);
    transition: 0.3s;
}

button#color3:hover, button#color3:active {
    background: linear-gradient(rgb(245, 80, 80), rgb(167, 166, 166), rgb(98, 98, 238))
    transition: 0.3s;
}

button#color4:hover, button#color4:active {
    background-color: white;
    transition: 0.3s;
}